.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-menu{
  position: absolute;
  background-color: #222;
  height: 100%;
  left: 0%;
  width: 15%;
  padding: 20px;
  color: white;
}

.app-center{
  display: flex;
  justifyContent: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
